.header {
    background-color: rgb(85, 85, 226);
    display: flex;
    justify-content: center;
}

.title {
    color: rgba(252, 251, 251, 0.925);
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: lighter;
    text-shadow: 0 0 20px rgb(204, 123, 123);
}